# Python
__pycache__/
*.pyc
.env

# Virtual environment
projectvenv/

# Jupyter
.ipynb_checkpoints/

# Ignore all data folders
data/

# OS
.DS_Store

checkreadme.ipynb
checkpython.py
z-google-bigquery-key-name.txt
*.svg
anotherreadme.md
readmeagain.md